body {
    background-image: url(./Assets/img/paperBackground.png);
    /* background-repeat: no-repeat; */
    background-size: 100%;
}

.card {
    padding: 10px;
    margin: 10px;
    background-color: #fbed8d;
}

.card-title {
    font-family: 'Bungee Shade', cursive;
    font-size: 50px;
}

.card-img-top {
    width: 50%;
    height: 500px;
    object-fit: cover;
    border-radius: 10px;
}

.questionMark {
    font-family: 'Bungee Shade', cursive;
    font-size: 450px;
    text-align: center;
}

.card-text {
    font-family: 'Noto Serif', serif;
    font-size: 35px;
}

.nav-link {
    font-size: 20px;
    color: white;    
}

.nav-link:hover {
    color: #fbed8d !important;
}

.questionMarkImg {
    border-radius: 10px;
}

.choices {
    margin: 10px;
    font-size: x-large;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Noto Serif', serif;
    border: none;
}

.choices:hover {
    background-color: #4A7EBB;
}

#begin-button {
    margin: 10px;
    font-size: 50px;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Bungee Shade', cursive;
    border: none;
    border-radius: 20px;
}

#begin-button:hover {
    background-color: #4A7EBB;
}

#initials-text {
    background-color: #212529;
    color: white;
    font-family: 'Bungee Shade', cursive;
    font-size: 80px;
    text-align: center;
    border: none;
    border-radius: 10px;
}

#submit-button {
    margin: 10px;
    font-size: 50px;
    background-color: rgb(46, 46, 46);
    color: white;
    font-family: 'Bungee Shade', cursive;
    border: none;
    border-radius: 20px;
}

#submit-initials:hover {
    background-color: #4A7EBB;
}
